@import url("https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap");
/*Layout*/
nav {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

nav .link_item {
  padding: 5px 20px;
  text-decoration: none;
  color: #F9E79F;
  font-size: 4rem;
  font-family: 'Sassy Frass', cursive;
}
nav .link_item:hover{
  border-bottom: 1px solid #F9E79F;
  color: #fff !important;

}
nav .logo {
  padding: 5px 20px;
  color: #F9E79F;
  font-family: 'Sassy Frass', cursive;
  font-size: 5rem;
}

/*Layout end*/
/*search from start*/

.search_form{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.search_form input{
  max-width: 40rem !important;
}
.select_form input::placeholder {
  color: #F9E79F!important;
}
.search_form .btn{
  background-color: #F9E79F !important;

}
.search_form .search_buttons{
 width: 20rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
}


/*search from end*/

/* page body start*/
 
/* page body end*/
.title{
  text-align: center;
  font-size: 6rem;
  font-family: 'Sassy Frass', cursive;
}
/*Left Panel start*/
.left_title{
  color: #F9E79F;
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px solid #F9E79F;;
  font-size: 3rem;
  font-family: 'Sassy Frass', cursive;
}

/*Left Panel end*/
.card:hover{
background-color: #EBF5FB ;

}
.button_div{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 4rem;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.buttons{
  align-items: center;
  display: flex;
  width: 25rem;
  justify-content: space-around;
 

}
.buttons .btn{
  padding: 0 px;
  color: #fff;
}
.row a {
  color: black;
  text-decoration: none;
}
.row a:hover{
  color: #000;

}